<?xml version='1.0' encoding='utf-8'?>
<widget id="net.ronto.showtimes.athens" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Showtimes.Athens</name>
    <description>
        Cinema showtimes in Athens, Greece.
    </description>
    <author email="p.g.ronto@gmail.com" href="http://www.showtimes.ronto.net">
        Panos Rontogiannis
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
